<span ng-show="item.discharge_type == 'Transport'">
    <strong>Transport: [[ item.transport_type ]]</strong>
    <br />
</span>
<span ng-show="item.discharge_type == 'Destination'">
    <strong>Destination: [[ item.destination_type ]]</strong>
    <br />
</span>
<span ng-show="item.discharge_type == 'Social Pathway'">
    <strong>Social Pathway</strong>
    <br />
</span>
<span ng-show="item.requested">
    Requested: [[ item.requested_timestamp | shortDateTime ]]
    <br />
</span>
<span ng-show="item.reviewed">
    reviewed: [[ item.reviewed_timestamp | shortDateTime ]]
    <br />
</span>
<span ng-show="item.requested && !item.reviewed">
    <strong>Pending</strong>
</span>
